.dark-dropdown .Select-control {
    background-color: #1f2a3a !important;
    color: #ffffff !important;
    border: 1px solid #2c3e50 !important;
}

.dark-dropdown .Select-menu-outer {
    background-color: #1f2a3a !important;
    color: #ffffff !important;
}

.dark-dropdown .Select-value-label {
    color: #ffffff !important;
}

.dark-dropdown .Select-placeholder {
    color: #bbbbbb !important;
}
